@{
    ViewData["Title"] = "プライバシーポリシー";
}

<h2>@ViewData["Title"]</h2>
<p>当サイトの目的: 国内向け旅行のホテル検索を行うアプリを個人的に使用したい。</p>
<p>当サイトで使用されているAPIは楽天トラベルAPIとなっております。</p>
<p>非営利目的であり、もし悪意のある行為を行った場合、法的措置を取ることもあります。</p>
