@model TravelApp.Models.SearchResultsViewModel

<h1>検索結果</h1>

@if (Model.Results.Any())
{
    <ul>
        @foreach (var spot in Model.Results)
        {
            <li>
                <h3>@spot.Name</h3>
                <p>@spot.Description</p>
                <p>@spot.Address</p>
            </li>
        }
    </ul>
}
else
{
    <p>検索結果が見つかりませんでした。</p>
}
